# Node and Next.js
/node_modules
/.pnp
.pnp.js
/.next/
/out/
/.npm-cache/

# Python
/.venv/
/venv/
/__pycache__/
*.pyc
*.pyo

# ESP-IDF Firmware Builds
/firmware/tx_node/build/
/firmware/rx_node/build/
sdkconfig.old
dependencies.lock

# Testing and coverage
/coverage

# Environment variables
.env*.local
.env

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE and OS files
.DS_Store
*.pem
.vscode/
.idea/
thumbs.db
